.main-bg{
    background: linear-gradient(rgba(4, 4, 4, 0.334),rgba(147, 107, 107, 0.329)), url('../../../public/donate\ blood\ 4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: center center;
   
  }