@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Oswald:wght@200;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

.custom-scroll::-webkit-scrollbar {
  visibility: hidden;
}


@media (prefers-color-scheme: dark) {}

body {
  scroll-behavior: smooth;
}

.scrollNone::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(248, 225, 225);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #515151;
  border-radius: 5px;
}


.p-default {
  @apply px-2.5
}

.mb-default {
  margin-bottom: 40px;
}

.nav-link-style {
  @apply font-medium hover:text-primary-red duration-300 text-primary-text
}

.primary-red-button {
  @apply border-1 border-primary-red hover:bg-primary-red rounded-md text-primary-text hover:text-white-text duration-300
}

.statistics-card {
  @apply bg-[#9d9d9d4d] flex gap-2.5 flex-col justify-center items-center p-4 rounded-md hover:bg-[#aaaaaa8b] duration-300 hover:scale-105
}

.errorBehavior {
  @apply border-primary-red  focus:outline-primary-red focus:border-primary-red
}

.dashboard-icon-style {
  @apply table-cell w-5 h-5 text-center top-3 text-lg 
}