.authHover {
    --c: #fadcae;
    /* the color */

    color: #0000;
    background:
        linear-gradient(90deg, #060113 100%, var(--c) 0) calc(100% - var(--_p, 10%))/200%,
        linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) no-repeat,
        var(--_c, #0000);
    -webkit-background-clip: text, padding-box, padding-box;
    background-clip: text, padding-box, padding-box;
    transition: 0.3s, color .3s, background-color .3s;
}

.authHover:hover {
    /* color: rgb(2, 5, 28); */
    --_c: rgb(50, 25, 5);
    --_p: 100%;
    transition: 0.4s, color 0s .4s, background-color 0s .4s;
}